header nav.bg-light {
    background: #00000033!important;
}

body {
    background: #f8f9fa!important;
}

.details,
form {
    margin-top: 2em;
}

h2.confirmation {
    text-align: center;
}

.centrar {
    margin: auto!important;
    display: flex!important;
}

.centrar button {
    margin: auto!important;
}